@charset "UTF-8";
/* users/index ================================ */
/* line 2, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

/* line 9, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

/* line 18, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-left img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

/* line 26, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-name a {
  font-weight: 600;
}

/* line 30, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-name a:hover {
  color: #3ecdc6;
}

/* line 34, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-left {
  float: left;
  width: 10%;
}

/* line 39, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
/* line 48, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-show {
  text-align: center;
}

/* line 52, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user {
  margin-bottom: 20px;
}

/* line 56, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

/* line 65, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

/* line 71, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user p {
  font-size: 13px;
  margin-bottom: 15px;
}

/* line 76, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

/* line 82, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

/* line 88, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

/* line 95, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-tabs li {
  float: left;
}

/* line 99, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

/* line 103, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-tabs li.active a {
  color: #57575f;
}

/* line 107, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/* users/new, users/edit ================================ */
/* line 114, ../../../マイドライブ/Programming/quick-quill/app/assets/stylesheets/users.scss */
.users-form input {
  margin-bottom: 15px;
}
