<div class="about-main">
  <div class="left-column">
    <h2>Quick Quillとは</h2>
    <p>
      このアプリは、ノートアプリです。<br>
    </p>
  </div>
  <div class="right-column">
    <%= image_tag "writing.png", class: "about-img" %>
  </div>
</div>