<div class="about-main">
  <div class="left-column">
    <h2>Quick Quillとは</h2>
    <br />
    <p>
      このアプリは<b>「素早く学びを知識に」</b>をコンセプトにしたノートアプリです。<br />
      学びを知識にする為の、以下のような2つの機能を本アプリは実装しております。<br />
      <br />
      <b>・ノート記録フォームに、リファレンスフォームを設けることにより、作成したノート下部に一貫して、リファレンスを確認できるようになっております。
          それにより、ノートにまとめた出典を明らかにし、またリファレンスにも、素早くアクセス出来るようにしております。</b><br />
      <br />
      <b>・ノートを記録する際に、Markdown記法での入力を実現し、ノートを見返した際に、見やすく復習も行いやすくなっております。</b><br />
      <br />
      そして、本アプリが最も促したいユーザーの皆様への行動変容は、以下のワークフローになります。<br />
      <br />
      <b>引用(インプット) → ノートに自分なりにまとめる(アウトプット) → 反復</b><br />
      <br />
      先述させて頂いたワークフローは、本アプリをご利用頂き、単に情報をインプットすることに留まらず、リファレンスを元に、自分なりにまとめ、アウトプットを行います。<br />
      そしてノート、メモアプリにありがちな、見返した際に「見づらい」を防ぐ為、本アプリではMarkdown記法での入力も可能になっており、
      その機能も用い、作成された整ったノートを折に触れて復習し、知識として落とし込んでいく、といった内容を上記ワークフローは指します。<br />
      <br />
      本アプリを利用し、ユーザーの皆様の行動変容の一助になれば幸いです。<br />
    </p>
    <br />
  </div>
  <div class="right-column">
    <%= image_tag "writing.png", class: "about-img" %>
  </div>
</div>