<div class="main top-main">
  <div class="top-message">
    <h2>素早く学びを知識に</h2>
    <p>新たな学びを記録に残してみよう。</p>
    <%= image_tag("writer-image.png", style: "width: 100%; padding: 50px 0;") %>
  </div>
</div>