<div class="main posts-index">
  <div class="container">
    <% if @posts.blank? %>
      <div class="posts-index-item">
        <p class="announce-text">まだノートがありません</p>
      </div>
    <% else %>
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
